#bts-button {
    background-color: #6779ba;
}

#bts-content {
    background-color: rgba(101,121,186,.65);
}

#bol4-button {
    background-color: #013f81;
}

#bol4-content {
    background-color: rgba(1,63,129,.65);
}

#andjuly-button {
    background-color: #7cccc2;
}

#andjuly-content {
    background-color: rgba(124,204, 194,.65);
}

#iu-button {
    background-color: #6f38a4;
}

#iu-content {
    background-color: rgba(111, 56, 164,.65);
}

#zico-button {
    background-color: #808366;
}

#zico-content{
    background-color: rgba(128, 131, 102,.65);
}