#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.collapse {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 36px;
  transition: max-height 0.2s ease-out;
}

.contentInCollapse {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#imageInCollapse{
    text-align: left;
    width: 33%;
    display: inline-block;
    margin-right: 3%;
    margin-left: 1%;
    color: black;
    font-size: 150%;
}

.active, .collapse:hover {
  filter: brightness(125%);
}

